
div{
    text-align: center;   
}
body{
    background-color: darkgray;
}
form{
    width: 95%;
    text-align: center;
    padding-left: 30%;   
    padding-right: 25%;
}
label{
    font-weight: bold;
}
a{
    text-align: center;
}


table {
    width: 100%;
    margin-left: 5%;
    margin-right: 10%;
    font-size: small;
}

footer {
    bottom: 0px;
    width: 98%;
    position: fixed;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    font-size: x-small;
    background-color: #191919;
    text-align: center;
    vertical-align: middle;
    margin: 5px auto;
    color: white;
}

/* CON ESTO CENTRO EL FOOTER FIXEADO */
.centrar {
    width: 98%;
    margin: 0 auto;
}

.py-5 {

}

.text-center {

}

.row {

}

.btn-primary {

}

.py-lg-5 {

}


.form-control {

}
