<!DOCTYPE html>

<html lang="es">  <!-- xmlns:th="http://www.thymeleaf.org" -->

    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <!--        <link rel="stylesheet" href="./style.css" type="text/css"/>-->
        <link rel="stylesheet" href="Estilos/index.css">
        <link rel="stylesheet" href="../static/Estilos/index.css" type="text/css"/>
        <link rel="stylesheet" href="../static/Estilos/autor.css" type="text/css">


    </head>

    <body>

        <br><br><br>

        <h1 align="center">Ejercicio Nº 1 - Spring - MVC</h1>
        <br><br>

        <h3 align="center">Bienvenidos a la Librería Web</h3>
        <br><br>

        <h3 align="center">Página de Inicio</h3>
        <br><br> <br><br> <br><br> <br><br>

        <div>
            <a th:href="@{/autor/Autor_Menu}" class="btn btn-primary btn-sm" title="Autores">Autores</a>
            <a th:href="@{/editorial/Editorial_Menu}" class="btn btn-primary btn-sm" title="Editoriales">Editoriales</a>
            <a th:href="@{/libro/Libro_Menu}" class="btn btn-primary btn-sm" title="Libros">Libros</a>
            <a href="#" class="btn btn-primary btn-sm" title="Préstamos">Préstamos</a>
            <a href="#" class="btn btn-primary btn-sm" title="Clientes">Clientes</a>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    </body>
</html>
