<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="es">

    <head>
        <title>Menú de Libros</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
              integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <link rel="stylesheet" href="/Estilos/libro.css">
    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand disabled" th:href="@{/}" title="Inicio">Librería WEB</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}" title="Inicio">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/autor/Autor_Menu}" title="Autores">Autores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/editorial/Editorial_Menu}" title="Editoriales">Editoriales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/libro/Libro_Menu}" title="Libros">Libros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="Préstamos">Préstamos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="Clientes">Clientes</a>
                    </li>
                </ul>
            </div>
        </nav>

        <br><br>
        <h3 align="center">Página de Libros</h3>
        <br><br>

        <div>
            <a class="btn btn-outline-primary btn-sm" th:href="@{/libro/Libro_Cargar}" title="Cargar Libro">Cargar Libro</a>
            <a href="" class="btn btn-outline-primary btn-sm" title="Modificar Libros">Modificar Libro</a>
            <a href="" class="btn btn-outline-primary btn-sm" title="Eliminar Libros">Eliminar Libro</a>
            <a href="" class="btn btn-outline-primary btn-sm" title="Baja Libros">Baja Libro</a>
            <a href="" class="btn btn-outline-primary btn-sm" title="Alta Libros">Alta Libro</a>
            <a href="" class="btn btn-outline-primary btn-sm" title="Mostrar Libro">Mostrar Libro</a>
            <a class="btn btn-outline-primary btn-sm" th:href="@{/libro/Libro_Lista}" title="Mostrar Libros">Mostar Libros</a>
        </div>

        <br><br>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <a th:href="@{/}" class="btn btn-primary my-2 btn-sm">Volver</a>
                </div>
            </div>
        </section>

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>

    </body>

</html>